@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Pacifico&display=swap');

body{
  background-color: #174C98;
}

p {
  color: black;
}

.responsive {
  width: 100%;
  height: auto;
}

a {
  color: white;
}

a:link{
  color: white;
}
.App {
  text-align: center;
  background-color: #174C98;
}

.App-header {
  background-color: #174C98;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url('./assets/cover.svg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-intro {
  font-size: large;
}
.header {
  display: flex;
  margin-top: 12px;
  height: 60px;
  background-color: #174C98;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.tile {
  height: 250px;
  width: 250px;
  margin-top: 30px;
  margin-left: 4%;
  margin-right: 2px;
  padding-top: 20px;
  padding-left: 20px;
  background:#f1c40f;
  float: left;
  font-size: 11px;
  text-align: left;
  -webkit-box-shadow: -2px 7px 52px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 7px 52px -24px rgba(0,0,0,0.75);
  box-shadow: -2px 7px 52px -24px rgba(0,0,0,0.75);
}


.newIdeaButton {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding:10px;
}

.landing-view {
  padding-top:14px;
  text-align: center;
  background-color: #174C98;;
  min-height: 100vh;
  height:inherit;
  margin: auto;
}

.landing-header {
  text-align: center;
  background-color: #2D2D33;
  height: 150px;
  padding: 20px;
}

.landing-text{
  font-size: 30pt;
  color: black;
  font-family: 'Alfa Slab One', cursive;
}

.landing-view p{
  color: black
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.some-page-wrapper {
  margin-top:12px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  height: 100px;

}

.green-column {

  height: 100px;

}
